form{
    text-align: center;
    margin: auto;
    border: 2px rgb(168, 12, 12) solid;
    padding: 20px;
    width: 450px;
    border-radius: 25px;
    margin-bottom: 50px;
}

h2{
    margin-top: 40px;
    text-align: center;
    
}

#average{
    text-align: center;
    border: 2px rgb(214, 44, 21) solid;
    color: rgb(197, 61, 19);
    width: 450px;
    margin: auto;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: x-large;
    background: rgba(114, 205, 218, 0.548);
}

input{
    padding: 10px;
    display: block;
    width: 370px;
    margin-bottom: 10px;
    margin-left: 30px;
}



label{
    display: flex;
    padding: 0;
    font-weight: bold;
}

button{
    margin: 15px;
    display: flex;
    padding: 10px;
    background: rgb(245, 4, 4);
    color: white;
    border-radius: 10px;
}



table{
    margin-top: 30px;
    margin: auto;
    border-collapse: collapse;
}



th{
    
    border: 2px solid rgb(163, 8, 8);
    font-size: 22px;
    padding: 10px;
    width: 200px;
    
}

td{
    border: 2px solid rgb(162, 189, 9);
    padding: 10px;
    width: 90px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}


@media (max-width: 600px) {

    form, #average {
        width: 90%;
        padding: 15px;
    }

    input {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        font-size: 18px;
        padding: 8px;
    }

    h2 {
        font-size: 25px;
    }

    #average {
        font-size: 20px;
    }
}
#estadisticas {
text-align: center;
width: 450px;
margin: auto;
padding: 10px;
font-size: large;
background: rgb(218, 167, 167);
border: 2px solid gray;
border-radius: 10px;
margin-bottom: 30px;
}